[Desktop Entry]
Version=1.2
Encoding=UTF-8
Name=Sudoku-Tk
Comment="Sudoku games and puzzle solver"
Exec=sudoku-tk
Icon=sudoku-tk
Terminal=false
Type=Application
Categories=Game;
StartupNotify=false

